%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} Todo List App
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
    %span.navbar-text
      - if user_signed_in?
        = link_to "Logout", destroy_user_session_path, method: :delete
      - else
        = link_to "Login", new_user_session_path, data: {toggle: "modal", target: ".bd-example-modal-lg"}
        |
        \#{link_to "Sign Up", new_user_registration_path}
